/* ==UserStyle==
@name         GitHub
@version      1.14.1
@description  Style optimizations for GitHub
@author       kidonng
@namespace    https://github.com/kidonng/cherry
@homepageURL  https://github.com/kidonng/cherry
@preprocessor stylus

@var checkbox lightHeader "Light theme header" 0
@var checkbox hideHighlights "Hide \"Highlights\" on user profile" 1
@var checkbox hideProBadge "Hide \"PRO\" badge in user hovercard" 1
@var checkbox removeMDBorders "Remove Markdown file borders" 1
@var checkbox expandNavLink "Expand navigation link in repository file tree" 1
@var checkbox extensions "Enable adjustments for some browser extensions" 1
@var checkbox hideOwnPackagesTab "Hide \"Pacakges\" tab on own user profile" 1
@var checkbox alignAuthorName "Align author name on PR sticky header (for Chinese locale users)" 0
==/UserStyle== */
@-moz-document url-prefix("https://github.com/") {
  if alignAuthorName {
    /* https://github.com/sindresorhus/refined-github/pull/3660#discussion_r506837095 */
    .sticky-content .author.css-truncate-target {
      vertical-align: -4px;
    }
  }

  /* Revert https://github.com/sindresorhus/refined-github/pull/3760 */
  if hideOwnPackagesTab {
    .UnderlineNav-item[href$="?tab=packages"]:not(.selected) {
      display: none;
    }
  }

  if lightHeader {
    .Header,
    .header-search-wrapper {
      background: var(--color-bg-secondary);
    }

    /* Invert .Header-link */
    .Header-link {
      color: black;
    }

    /* Invert .Header-link:focus, .Header-link:hover */
    .Header-link:focus,
    .Header-link:hover {
      color: rgba(0, 0, 0, .7);
    }

    .header-search-input::placeholder {
      color: rgba(0, 0, 0, .7);
    }
  }

  if hideProBadge {
    .js-hovercard-content [title="Label: Pro"] {
      display: none !important;
    }
  }

  if hideHighlights {
    .user-profile-sticky-bar ~ .border-top.pt-3.mt-3.d-none.d-md-block {
      display: none !important;
    }
  }

  if removeMDBorders {
    #readme,
    #readme > .Box-header,
    #readme > .Box-body {
      border: 0;
    }
  }

  /* https://github.com/sindresorhus/refined-github/issues/3281#issuecomment-649480805 */
  if expandNavLink {
    [role="rowheader"] .js-navigation-open {
      display: inline-block;
      width: 100%;
    }
  }

  if extensions {
    /* Use the same size as branch button for latest tag button */
    /* https://github.com/sindresorhus/refined-github/pull/3356 */
    .rgh-latest-tag-button,
    .rgh-latest-tag-button + .btn,
    .rgh-latest-tag-button + .dropdown .btn {
      padding: 5px 16px;
      font-size: 14px;
    }

    .rgh-latest-tag-button .octicon,
    .rgh-latest-tag-button + .btn .octicon,
    .rgh-latest-tag-button + .dropdown .btn .octicon {
      vertical-align: text-bottom;
    }

    /* Adjust file icon size */
    /* https://github.com/mallowigi/a-file-icon-web/pull/2#issuecomment-648701903 */
    .octicon-file,
    .octicon-file-directory {
      width: 16px;
      height: 16px;
    }

    /* Put Octotree bookmark icon in front of title */
    /* https://github.com/ovity/octotree/issues/992 */
    .gh-header-title {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
    }

    .gh-header-title .js-issue-title {
      margin-right: 7px;
    }

    .gh-header-title .octotree-btn {
      margin-left: -22px;
      order: -1;
    }
  }
}

@-moz-document regexp("https://github.com/.+/blob/.+\.md.*") {
  if removeMDBorders {
    .repository-content .Box.mt-3.position-relative {
      border: 0;
      margin-right: 1px;
      margin-left: 1px;
    }
  }
}
