/* ==UserStyle==
@name         GitHub
@version      1.2.0
@description  Opinionated GitHub Style
@author       kidonng
@namespace    https://github.com/kidonng/cherry
@preprocessor stylus

@var          checkbox lightHeader         "Light header"              1
@var          checkbox hideFollowBtn       "Hide follow button"        1
@var          checkbox hideProfileEditBtn  "Hide profile edit button"  1
@var          checkbox hideDevBadge        "Hide developer badge"      1
@var          checkbox hideProBadge        "Hide PRO badge"            1
@var          checkbox hideSponsor         "Hide sponsor stuff"        1
@var          checkbox hideDiscovery       "Hide discovery"            1
@var          checkbox hideReactionBtn     "Hide reaction button"      1
@var          checkbox hideContributors    "Hide contributors"         1
==/UserStyle== */
@-moz-document url-prefix("https://github.com/") {
  /* Link */
  a {
    color: #1a73e8;
  }

  /* Progress bar */
  .pjax-loader-bar .progress {
    background: #1a73e8;
    box-shadow: 0 0 10px rgba(26, 115, 232, 0.7);
  }

  /* Avatar */
  .avatar,
  [data-octo-click='hovercard-link-click'] img,
  /* GitHub Hovercard (https://github.com/Justineo/github-hovercard) */
  .ghh-avatar {
    border-radius: 100% !important;
  }

  /* Button */
  .btn,
  .btn:hover {
    background: none;
    border: 1px solid #dadce0;
    transition: background 100ms linear;
  }

  .btn:hover {
    background: #f1f3f4;
  }

  .btn-primary,
  .btn-primary:hover,
  .btn-primary:focus,
  [open] > .btn-primary {
    background: #1a73e8;
    border: 0;
  }

  .btn-primary:hover {
    background: #3a7af6;
  }

  .btn-primary:focus {
    box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.3);
  }

  .btn-primary:disabled {
    background: rgba(58, 122, 246, 0.7);
  }

  .btn-outline:hover {
    background: #1a73e8;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
  }

  .btn-danger:hover:not(:disabled) {
    background-color: #b5202c;
  }

  .btn:disabled {
    border-color: #dadce0;
  }

  .BtnGroup-item {
    border-right-width: 0;
  }

  /* Dashboard */
  .team-left-column,
  .col-12.col-md-8.col-lg-6.p-responsive.mt-3.border-bottom.d-flex.flex-auto {
    border: 0 !important;
  }

  .d-flex.flex-wrap.bg-gray {
    background: unset !important;
  }

  /* Repo header */
  .repohead.experiment-repo-nav,
  .select-menu-header,
  .Counter {
    background-color: unset;
  }

  .social-count,
  .btn-with-count.btn {
    border: 0;
  }

  #sponsor-button-repo {
    border: 0;
  }

  .pagehead-actions li {
    border: 1px solid #dadce0;
    border-radius: 0.25em;
  }

  .reponav-item.selected {
    border-color: #1a73e8 #e1e4e8 transparent;
  }

  /* Files & Commits */
  .commit-tease {
    border: 1px solid #dfe2e5;
  }

  table.files td.icon .octicon-file-directory {
    color: #1a73e8;
  }

  .full-commit,
  .commit-tease,
  .bg-blue-light,
  .Box-header {
    background-color: unset !important;
  }

  .Box.Box--condensed.d-flex.flex-column.flex-shrink-0,
  .Box-body.d-flex.flex-justify-between.bg-blue-light.flex-column.flex-md-row.flex-items-start.flex-md-items-center {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .Box.mt-3.position-relative {
    margin-top: 0 !important;
    border-top: 0;
  }

  .flash-notice {
    background-color: unset;
    margin-top: 0 !important;
  }

  /* Issues & Pull requests  */
  .timeline-comment-header {
    background-color: unset;
  }

  .participation-avatars {
    display: none !important
  }

  /* Settings */
  .form-group .form-control,
  .input-contrast,
  .menu-heading {
    background-color: unset;
  }

  .menu-item.selected:before,
  .session-device .session-state-indicator.recent {
    background-color: #1a73e8;
  }

  .session-device .session-state-indicator.recent,
  .session-device .session-state-indicator.not-recent {
    box-shadow: none;
  }

  .recent-user-key,
  .recent-user-key-access {
    color: #1a73e8;
  }

  /* Profile */
  .avatar-before-user-status,
  .js-user-status-container,
  .user-status-container {
    border: 0 !important;
  }

  .UnderlineNav-item.selected {
    border-bottom-color: #1a73e8;
  }

  .js-profile-editable-area + .pb-3,
  .contrib-footer {
    display: none !important;
  }

  if lightHeader {
    /* Light header */
    .Header {
      background: #fff;
    }

    .Header-link {
      color: #000 !important;
    }

    .Header-link:hover {
      color: rgba(0, 0, 0, .5) !important;
    }

    .header-search-wrapper {
      border: 1px solid #000 !important;
    }

    .header-search-wrapper.focus {
      border-right: 0 !important;
    }

    .header-search-input,
    .header-search-input::placeholder {
      color: #000;
    }

    .header-search-input {
      position: relative;
      top: 1px;
    }

    .focus .header-search-input {
      border-right: 1px solid #000 !important;
    }
  }

  /* Remove README border */
  #readme {
    border: 0;
  }

  /* Optional Styles */
  if hideFollowBtn {
    .user-profile-following-container,
    /* GitHub Hovercard */
    [data-action="follow"] {
      display: none !important;
    }
  }

  if hideDevBadge {
    .border-top.border-gray-light.py-3 {
      display: none;
    }
  }

  /* Profile - Hide PRO badge */
  if hideProBadge {
    .js-pro-badge,
    .d-block.f6.bg-purple.no-underline.text-bold.text-uppercase.text-white.text-center {
      display: none !important;
    }
  }

  /* Profile - Hide edit button */
  if hideProfileEditBtn {
    .js-profile-editable-edit-button {
      display: none;
    }
  }

  if hideSponsor {
    #funding-links-modal,
    .border-top.ml-n3.mr-n3.mt-3.pr-3.d-flex.flex-justify-end,
    .border-top.border-gray-light.py-3.d-flex.flex-items-center,
    .border-top.py-3.clearfix:not(.hide-sm) {
      display: none !important;
    }
  }

  /*  Issues & Pull requests - Hide reaction button */
  if hideReactionBtn {
    .add-reaction-btn,
    .js-comment-header-reaction-button {
      display: none !important;
    }
  }

  /* Dashboard - Hide discovery */
  if hideDiscovery {
    .team-left-column:last-child {
      visibility: hidden;
    }
  }

  /* Files & Commits - Hide contributors */
  if hideContributors {
    .Box-body.d-flex.flex-items-center.flex-auto.f6.border-bottom-0.flex-wrap {
      display: none !important;
    }
  }

  /* Extension - Refined GitHub */
  .commit-build-statuses {
    left: 4px;
  }

  /* Extension - Octotree */
  .octotree-view-header,
  .octotree-sidebar.octotree-github-sidebar .octotree-search-bar {
    background-color: rgb(250, 251, 252) !important;
    border-right: 1px solid rgb(223, 226, 229) !important;
  }

  .octotree-sidebar.octotree-github-sidebar .octotree-footer {
    background-color: rgb(250, 251, 252) !important;
    border-top: 0;
  }

  .octotree-sidebar.octotree-github-sidebar .octotree-views .octotree-tree-view .octotree-view-header .octotree-header-repo,
  .octotree-sidebar.octotree-github-sidebar .octotree-views .octotree-tree-view .octotree-view-header .octotree-header-repo a,
  .octotree-sidebar.octotree-github-sidebar .octotree-views .octotree-tree-view .octotree-view-header .octotree-header-repo a:hover,
  .octotree-view-header,
  .octotree-header-branch,
  .octotree-view-header i:before {
    color: rgb(106, 115, 125) !important;
  }


  .octotree-sidebar.octotree-github-sidebar .octotree-search i:hover::before,
  .octotree-sidebar.octotree-github-sidebar a.octotree-settings .octotree-icon-settings:hover:before,
  .octotree-sidebar.octotree-github-sidebar a.octotree-pin .octotree-icon-pin:hover::before {
    color: rgba(106, 115, 125, .5) !important;
  }

  .octotree-settings.selected i:before,
  .octotree-pinned i:before {
    filter: brightness(0);
  }

  .octotree-toggle {
    height: 40px !important;
  }

  .octotree-ad-small,
  .octotree-ad-big,
  .octotree-toggle span {
    display: none !important;
  }

  .octotree-trial-msg-view {
    visibility: hidden;
  }
}
