/* ==UserStyle==
@name         GitHub
@version      30
@description  Style optimizations for GitHub
@author       kidonng
@namespace    https://github.com/kidonng/cherry
@homepageURL  https://github.com/kidonng/cherry
@preprocessor stylus

@var checkbox colorBender "Blue open issues/pull requests and green closed issues/merge pull requests" 0
@var checkbox lightHeader "Light theme header" 0
@var checkbox repositionOctotreeBookmark "Reposition Octotree bookmark icon" 0
@var checkbox hideProfileHighlights "Hide \"Achievements\" and \"Highlights\" on user profile" 1
@var checkbox alignPRAuthorName "Align author name on PR sticky header (for Chinese locale users)" 0
==/UserStyle== */
@-moz-document url-prefix("https://github.com/")
{
    if alignPRAuthorName {
        /*
     * Fix a GitHub bug that PR author name is not aligned when using Chinese locale
     * https://github.com/refined-github/refined-github/pull/3660#discussion_r506837095
     */
        .sticky-content .author.css-truncate-target {
            vertical-align: -4px;
        }
    }

    /*
   * Hide "Packages" tab on user profile
   * https://github.com/refined-github/refined-github/pull/4487
   */
    .UnderlineNav-item[href$='?tab=packages']:not(.selected) {
        display: none;
    }

    /* Mute visited conversation (issue/PR) link */
    /* https://github.com/refined-github/refined-github/pull/5258 */
    .js-issue-row .h4:visited:not(:hover) {
        color: var(--color-fg-muted) !important;
    }
    
    /* Restore spacing between "Milestone" and "Linked pull requests" in sidebar */
    /* https://github.com/refined-github/refined-github/issues/5280#issuecomment-1008327309 */
    create-issue-branch {
        margin-top: 16px;
        border-top: 1px solid var(--color-border-muted);
    }

    if lightHeader {
        .Header,
        .header-search-wrapper {
            background: var(--color-bg-secondary);
        }

        .Header-link {
            color: black;
        }

        .Header-link:focus,
        .Header-link:hover {
            color: rgba(0, 0, 0, 0.7);
        }

        .header-search-input::placeholder {
            color: rgba(0, 0, 0, 0.7);
        }
    }

    /* Hide Pro badge */
    .js-hovercard-content [title='Label: Pro'] {
        display: none !important;
    }

    if hideProfileHighlights {
        .border-top.color-border-secondary.pt-3.mt-3.d-none.d-md-block {
            display: none !important;
        }
    }

    /*
   * Hide following items below new comment box:
   * - "Remember, contributions to this repository should follow its contributing guidelines and code of conduct."
   * - "Show your support for <user> by sponsoring them."
   */
    #issuecomment-new .timeline-comment--caret ~ div {
        display: none !important;
    }

    if repositionOctotreeBookmark {
        /*
     * Put Octotree bookmark icon in front of title
     * https://github.com/ovity/octotree/issues/992
     */
        .gh-header-title {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
        }

        .gh-header-title .js-issue-title {
            margin-right: 7px;
        }

        .gh-header-title .octotree-btn {
            margin-left: -22px;
            order: -1;
        }
    }

    if colorBender {
        :is(.octicon-issue-opened, .octicon-git-pull-request):is(.open, .color-text-success) {
            color: var(--color-accent-fg) !important;
        }

        .State--open,
        .js-targetable-element > .TimelineItem-badge.color-bg-success-inverse,
        .branch-action-state-clean .branch-action-icon {
            background-color: var(--color-accent-emphasis) !important;
        }

        .octicon-issue-closed:is(.closed, .color-text-danger),
        .issue-closed-done .octicon-issue-closed.color-text-danger,
        .octicon-git-merge:is(.merged, .color-fg-done) {
            color: var(--color-success-fg) !important;
        }

        :is(.State--closed, .TimelineItem-badge).color-bg-done-emphasis,
        .State--merged,
        .branch-action-state-merged .branch-action-icon {
            background-color: var(--color-success-emphasis) !important;
        }
    }
}
