/* ==UserStyle==
@name         Google Tasks
@version      1.0.0
@description  Google Tasks on desktop
@author       kidonng
@namespace    https://github.com/kidonng/cherry
@homepageURL  https://github.com/kidonng/cherry
==/UserStyle== */
@-moz-document regexp("https://tasks.google.com.*\\?fullWidth=1") {
  .MCcOAc,
  .llhEMd {
    left: 25%;
    width: 50% !important;
  }

  .MCcOAc {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  }
}
