/* ==UserStyle==
@name         Typeface
@version      1.2.0
@description  Typeface optimizations for various sites
@author       kidonng
@namespace    https://github.com/kidonng/cherry
@homepageURL  https://github.com/kidonng/cherry
==/UserStyle== */

@-moz-document domain("github.com") {
  pre,
  code,
  kbd,
  .blob-code-inner,
  .blob-code-inner > * /* Compatible with Dark Reader */,
  .cm-s-github-light .CodeMirror-lines {
    font-family: monospace !important;
  }
}

@-moz-document domain("www.notion.so") {
  .notion-code-block > div,
  span[style^='font-family:"SFMono-Regular"'] {
    font-family: monospace !important;
  }
}

@-moz-document domain("zhuanlan.zhihu.com") {
  div.highlight {
    font-family: monospace;
  }
}
