/* ==UserStyle==
@name         Typeface
@version      8
@description  Typeface optimizations for various sites
@author       kidonng
@namespace    https://github.com/kidonng/cherry
@homepageURL  https://github.com/kidonng/cherry
==/UserStyle== */

@-moz-document domain("github.com") {
    #readme .markdown-body {
        font-family: New York, LXGW WenKai, serif;
    }

    #readme .markdown-body :is(h1, h2, h3, h4, h5, h6) {
        font-family: system-ui;
    }

    .blob-num,
    .blob-code-inner,
    .CodeMirror-lines /* `!important` is for this selector */ {
        font-size: 13px !important;
    }
}

@-moz-document domain("interactive-examples.mdn.mozilla.net") {
    code[class*='language-'] {
        font-family: monospace;
    }
}

@-moz-document domain("wikipedia.org"), domain("moegirl.org.cn") {
    .mw-body-content {
        font-size: 16px;
    }

    :not(.mw-editfont-monospace) > .mw-parser-output {
        font-family: New York, LXGW WenKai, serif;
    }

    #firstHeading,
    .mw-headline {
        font-family: system-ui;
    }

    .mw-userlink {
        font-weight: bold;
    }
}
