/* ==UserStyle==
@name         Typeface
@version      2
@description  Typeface optimizations for various sites
@author       kidonng
@namespace    https://github.com/kidonng/cherry
@homepageURL  https://github.com/kidonng/cherry
==/UserStyle== */

@-moz-document domain("github.com") {
  pre, /* e.g. editor, commit description */
  code, /* e.g. Markdown code */
  kbd,
  .rgh-monospace-textareas :is(#merge_title_field, #commit-summary-input, textarea), /* https://github.com/sindresorhus/refined-github/blob/37fa4677f1ecf26d7176c8d9d43f8a4db6d5d902/source/features/monospace-textareas.css#L8-L10 */
  .blob-code-inner {
    font-family: monospace, JetBrainsMono Nerd Font !important;
  }

  .CodeMirror-lines,
  .blob-code-inner,
  .blob-num {
    font-size: 13px !important;
  }
}

@-moz-document domain("www.notion.so"), regexp("https://.+\\.notion\\.site/.+")
{
  .notion-code-block > div,
  span[style^='font-family:"SFMono-Regular"'] {
    font-family: monospace !important;
  }
}

@-moz-document domain("zhuanlan.zhihu.com") {
  div.highlight {
    font-family: monospace;
  }
}
