/* ==UserStyle==
@name         Typeface
@version      5
@description  Typeface optimizations for various sites
@author       kidonng
@namespace    https://github.com/kidonng/cherry
@homepageURL  https://github.com/kidonng/cherry
==/UserStyle== */

@-moz-document domain("github.com") {
  .branch-name,
  .commit .sha-block,
  .commit .sha,
  .commit-ref,
  .commit-desc pre,
  .commit-tease-sha,
  .blob-num,
  .blob-code-inner,
  kbd,
  tt,
  code,
  pre,
  .input-monospace,
  .text-mono,
  .file-editor-textarea,
  .CommunityTemplate-highlight,
  .file-info,
  .hook-delivery-guid,
  .hook-delivery-response-status,
  .export-phrase pre,
  .oauth-app-info-container dl.keys dd,
  .two-factor-recovery-codes,
  .CodeMirror-lines,
  /* Refined GitHub */
  #commits_bucket [aria-label='View commit details'], /* https://github.com/refined-github/refined-github/pull/4899/files#diff-24ef5929102e80386c178f9c0e79536d11501971d9dc7e7a3490b48bf565f174R45-R48 */
  .rgh-monospace-textareas :is(#merge_title_field, #commit-summary-input, textarea) /* https://github.com/refined-github/refined-github/blob/37fa4677f1ecf26d7176c8d9d43f8a4db6d5d902/source/features/monospace-textareas.css#L8-L10 */
  {
    font-family: monospace, JetBrainsMono Nerd Font !important;
  }

  .blob-num,
  .blob-code-inner,
  .CodeMirror-lines {
    font-size: 13px !important;
  }
}

@-moz-document domain("www.notion.so"), regexp(".+\\.notion\\.site/.*")
{
  [style*="SFMono-Regular"] {
    font-family: monospace !important;
  }
}

@-moz-document domain("www.zhihu.com"), domain("zhuanlan.zhihu.com") {
  code {
    font-family: monospace !important;
    font-size: 13px !important;
  }
}
