/* ==UserStyle==
@name         Zhihu
@version      3
@description  Hide Zhihu annoyances
@author       kidonng
@namespace    https://github.com/kidonng/cherry
@homepageURL  https://github.com/kidonng/cherry
==/UserStyle== */

@-moz-document domain("www.zhihu.com") {
  .QuestionButtonGroup,
  .QuestionHeaderActions > .Button:first-child,
  .VoteButton--down,
  .ContentItem-actions > .ContentItem-action:nth-child(4),
  .ContentItem-actions > .ContentItem-action:nth-child(5),
  .CommentItemV2-hoverBtn,
  .CommentsV2-footer,
  .AppBanner,
  .AnswerInfo-favlists,
  .Footer,
  .Question-mainColumnLogin,
  [data-za-detail-view-path-module='RelatedQuestions'],
  .SidebarShortcut [data-za-detail-view-path-module='ContentList'],
  .Zi--VIP,
  [aria-label=" 好物推荐官"],
  .AnswerAuthor-buttons,
  .VotableTopicCard {
    display: none !important;
  }

  .QuestionButtonGroup + .QuestionHeaderActions {
    margin-left: 0;
  }

  .Avatar {
    border-radius: 100%;
  }
}
